
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutFinal.cshtml";
}




<table border="1" id="table1" class="table bg-dark text-white">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Nationality</th>
    </tr>
</table>

<center><input type="button" value="Get Passenger's Information" id="button1" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);" /></center>
<span id="ResponseSpan">  </span>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {

        $("#button1").click(
            function () {

                //ajax code
                $.ajax({
                    url: 'https://localhost:44308/api/Passengers',
                    data: {},
                    type: "get",
                    success: function (response) {

                        $("#table1 tr:gt(0)").remove();
                        $.each(response, function (i, item) {
                            $("#table1").append
                                ("<tr><td>" + item.Name + "</td> <td>" + item.Age +"</td> <td>" + item.Address + "</td> <td>" + item.Nationality + "</td>  </tr>");
                        });

                    },

                    error: function (jqXHR, textStatus, err) {
                        $("#ResponseSpan").html(err);
                    }
                });

            });

    });
</script>

